future>=0.16.0
certifi
tornado>=5.1
cryptography
numpy
sklearn
matplotlib
telegram
python-telegram-bot==12.0.0b1
peewee
pymysql
requests
requests[socks]
requests[socks5]
cfscrape
urllib3
requests
fake_useragent
proxybroker
pandas
pytz
beautifulsoup4
asyncio
emoji